::-webkit-scrollbar-track { background-color: #F4F4F4; }
::-webkit-scrollbar { width: 6px; background: #F4F4F4; }
::-webkit-scrollbar-thumb { background: #960d0d; }

html { position: relative; min-height: 100%; }

@media (min-width: 769px) { body { padding-bottom: 325px; } }
@media (max-width: 768px) { body { padding-bottom: 400px; } }

label{margin-bottom:1px!important;}


/* PAGE COMMERCE */
.shoppingCart {
	position: fixed;
	width:350px;
	height:400px;
	right:0;
	bottom:0;
	margin:20px;
	background: #fcfcfc;
	border:2px solid #eee;
	border-radius: 5px;
	z-index: 999;
}

.lineMenuCommerce {

	width: 2px;
	height: 62px;
	background: rgba(255,255,255,.2);
	color:transparent;
}

.btnMenuCommerce {
	color:#FFF;
	text-shadow: 2px 2px rgba(0, 0, 0, .4);
	font-size: 16.5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.btnMenuCommerce:hover { 
	text-decoration: none;
	background: rgba(0,0,0,.23);
	color:#FFF;
}




/* LIST GROUP */
.list-group-item {
	font-family:'Nunito',sans-serif;
	font-weight: 500;
	letter-spacing: .5px;
	color: #686868;
}
.list-group-item:hover { background: #f9f9f9; color: #686868; }