.nav-link {
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	color: #f1f1f1!important;
	font-size: 17px;
	text-shadow: 1.7px 1.7px rgba(0, 0, 0, .15);
}
.nav-link:hover { color:#FFF!important;  }

.line-vertical { 
	width: 1.5px;
	height: 20px;
	border:.8px solid rgba(255, 255, 255, .07);
	margin-top: 10px; 
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 992px) { .line-vertical { display:none; } }


/* BG-HEADER */
.bg-header { 
	background-image: url('../images/slides/1.png');
	background-size: cover;
	height: 100vh;
}


/* ICONS */
.header-icons { 
	margin-top: -130px;
	position: absolute;
	display: flex; 
	justify-content: center; 
}

.header-icons a { 
	color:#FFF; 
	font-size: 18px;
	text-shadow: 3px 2px rgba(0, 0, 0, .6); 
}
.header-icons a:hover { text-decoration: none; }

.header-icons a div {
	box-shadow: 3px 2px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border:2px solid rgba(255, 255, 255, .1);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 4px;
	margin-right: 4px;
}

.header-icons a div:hover { background: #bc2026; }


@media (max-width: 768px) {	.slide-caption { margin-top: -50px; } }
@media (min-width: 769px) {	.slide-caption { margin-top: -250px; } }

.line-slider { width: 10px; background: #bc2026; height: 64px; }


.btnDown {
	margin-top: -50px;
	z-index: 999;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	box-shadow: 3px 2px rgba(0, 0, 0, .4);
	background: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border:2.5px solid rgba(255, 255, 255, .1);
}
.btnDown:hover { background: #bc2026; }