/* BASE */
.bg-base {background: #bc2026;}
.bg-base-opacity { background: rgba(188, 32, 38, .9); }
.text-base { color: #ad1111; }


/* BACKGROUND */
.bg-eee { background: #eee!important; }
.bg-2 { background: #222!important; }
.bg-fc { background: #fcfcfc!important; }
.bg-f1 { background: #f1f1f1!important; }
.hover-bg-fc:hover { background: #fcfcfc!important; }

/* FONT-SIZE */
.fs-9  { font-size: 9px!important; }
.fs-10 { font-size: 10px!important; }
.fs-11 { font-size: 11px!important; }
.fs-12 { font-size: 12px!important; }
.fs-13 { font-size: 13px!important; }
.fs-14 { font-size: 14px!important; }
.fs-15 { font-size: 15px!important; }
.fs-16 { font-size: 16px!important; }
.fs-17 { font-size: 17px!important; }
.fs-18 { font-size: 18px!important; }
.fs-19 { font-size: 19px!important; }
.fs-20 { font-size: 20px!important; }
.fs-21 { font-size: 21px!important; }
.fs-22 { font-size: 22px!important; }
.fs-23 { font-size: 23px!important; }
.fs-24 { font-size: 24px!important; }
.fs-25 { font-size: 25px!important; }
.fs-26 { font-size: 26px!important; }
.fs-27 { font-size: 27px!important; }
.fs-28 { font-size: 28px!important; }
.fs-29 { font-size: 29px!important; }
.fs-30 { font-size: 30px!important; }
.fs-31 { font-size: 31px!important; }
.fs-32 { font-size: 32px!important; }
.fs-33 { font-size: 33px!important; }
.fs-34 { font-size: 34px!important; }
.fs-35 { font-size: 35px!important; }
@media (min-width: 769px) {
  .fs-md-40 { font-size: 40px; }
  .fs-md-45 { font-size: 45px; }
  .fs-md-65 { font-size: 5em; }
}
@media (max-width: 768px) {
  .fs-xs-30 { font-size: 30px; }
}

/* SQUARE */
.square-40 { width: 40px; height: 40px; }
.square-50 { width: 50px; height: 50px; }
.square-75 { width: 75px; height: 75px; }
.square-100 { width: 100px; height: 100px; }


/* COLOR */
.color-blue { color: #2354a3; }
.color-transparent { color: transparent; }
.color-333 { color: #333; }
.color-444 { color: #444; }
.color-555 { color: #555; }
.color-e2 { color:#e2e2e2; }
.color-gold { color: #ffae00; }

/* HOVER */
.hover-d-none:hover { text-decoration: none; }
.text-hover-white:hover { color: #FFF;  }


/* HEIGHT */
.h-100vh { height: 100vh; }
@media (min-width: 769px) {
  .h-md-100vh { height: 100vh; }
  .h-md-64 { height: 64px; }
}
@media (min-width: 1200px) {
  .h-lg-400 { height: 400px; }
}
.h-400 { height: 400px; }
.h-min-100 { min-height: 100px; }
.h-64 { height: 64px; }
.h-max-375 { max-height: 300px; }
.h-max-400 { max-height: 400px; }
.h-max-500 { max-height: 500px; }


/* WIDTH */
.w-50px { width: 50px; }
.w-250px { width: 250px; }
@media (max-width: 768px) { 
  .w-xs-100 { width: 100%; }
  .w-xs-75 { width: 75%; }
  .w-xs-60 { width: 60%; }
}
@media (min-width: 769px) { 
  .w-md-75 { width: 75%!important; }
  .w-md-50 { width: 50%!important; }
  .w-md-40 { width: 40%!important; }
  .w-md-30 { width: 30%!important; }
  .w-md-25 { width: 25%!important; }
  .w-md-20 { width: 20%!important; }
  .w-md-15 { width: 15%!important; }
  .w-md-13 { width: 13%!important; }
  .w-md-10 { width: 10%!important; }
  .w-md-8 { width: 8%!important; }
  .w-md-6 { width: 6%!important; }
  .w-md-7 { width: 7%!important; }
}

/* FLEX */
.flex-center { display: flex; justify-content: center; align-items: center; }
@media (min-width: 769px) {
  .flex-md-center { display: flex; justify-content: center; align-items: center; }
}


/* WEIGHT */
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }


/* FONT */
.font-nunito { font-family: 'Nunito',sans-serif; }
.font-raleway { font-family: 'Raleway',sans-serif; }
.font-sintony { font-family: 'Sintony',sans-serif; }
.font-anton { font-family: 'Anton', sans-serif; }


/* LETTER SPACING */
.ls-05 { letter-spacing: .5px; }
.ls-1 { letter-spacing: 1px; }
.ls-1-5 { letter-spacing: 1.5px; }
.ls-2 { letter-spacing: 2px; }
.ls-3 { letter-spacing: 3px; }


/* TEXT-SHADOW */
.text-shadow { text-shadow: 2px 2px rgba(0, 0, 0, .4); }


/* OUTLINE */
.outline-0 { outline: 0px!important; }
.outline-0:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* OBJECT-FIT */
.object-fit-cover { object-fit: cover; }
@media (min-width: 769px) { .object-fit-md-cover { object-fit: cover; } }


@media (max-width: 768px) {
  .text-xs-left { text-align: left; }
  .text-xs-center { text-align: center; }
}


/* Z-INDEX */
.z-999 { z-index: 999; }


/* ROUNDED */
.rounded-1 { border-radius: 1.5px!important; }
.rounded-right-0 { border-bottom-right-radius: 0px!important; border-top-right-radius: 0px!important; }
.rounded-left-0 { border-bottom-left-radius: 0px!important; border-top-left-radius: 0px!important; }


/* PADDING */
@media (min-width: 769px) {
  .py-md-2-5 { padding-bottom: .75rem!important; padding-top: .75rem!important; }
}
.p-4-5 { padding: 2rem!important; }
.pb-4-5 { padding-bottom: 2rem!important; }
@media (max-width: 768px) {
  .px-xs-1 { padding-left:1em!important; padding-right:1em!important; }
  .py-xs-2 { padding-bottom: .5rem!important; padding-top: .5rem!important; }
}


/* MARGIN */
.mt--85 { margin-top: -85px; }
.mt--50 { margin-top: -50px; }
.mb-4-5 {margin-bottom: 2.3rem!important;}
.mt-4-5 {margin-top: 2.3rem!important;}


/* COL */
@media (min-width: 768px) {
.col-md-2-5 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}}
.col-md-2-5 {
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/* PLACEHOLDER */
.clear-placeholder-focus:focus::-webkit-input-placeholder { color: transparent; }
@media (max-width: 768px) { .clear-placeholder-blur-xs::placeholder { color: #FFF; } }


/* BORDER */
.border-opacity { border:1px solid rgba(240,240,240,.8); }
.border-2px { border:2px solid rgba(255,255,255,.23); }
.border-bottom-2px { border-bottom:2px solid rgba(255,255,255,.23); }
.border-base-top-1px { border-top:1px solid rgba(188, 32, 38, .4); }


/* OVERFLOW */
.overflow-x-auto { overflow-x: auto; }


/* CURSOR */
.cursor-pointer { cursor: pointer; }


/* POSITION */
.bottom-0 { bottom: 0; }